<!-- views/partials/nav.ejs -->
<nav role="navigation">
	<button class="logo">ply</button>
	<div class="bt-menu-trigger">
	  <span></span>
	</div>
	<div class="mobile__menu">				
		<section>
			<h2>Account</h2>
			<ul class="mobile__nav__list mobile__user__menu">
				<li class="nav__item"><button class="nav__link join">Join</button></li>						
				<li class="nav__item"><button class="nav__link login">Log in</button></li>						
			</ul>	
		</section>				
		<section>
			<h2>Spaces</h2>
			<ul class="mobile__nav__list mobile__spaces__menu">
				<li class="nav__item"><button class="nav__link share">Share a space</button></li>
				<li class="nav__item"><button class="nav__link manage_space">Manage spaces</button></li>
			</ul>						
		</section>				
	</div>			
	<ul class="nav__list full__menu">
		<li class="nav__item"><button class="nav__link share">Share a space</button></li>
		<li class="nav__item"><button class="nav__link join myaccount">Join</button></li>
		<li class="nav__item"><button class="nav__link login logout">Log in</button></li>
	</ul>		
</nav>