<!-- views/details.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/modals') %>

	<section class="topmatter">
		<%- include('partials/nav') %>
	</section>

	<div class="details__wrapper">
		<div class="details">
			<section class="cover-image"></section>
			<header class="details__title" role="banner"></header>
		</div>
	</div>
	<h1>Howdy, I'm the details view!</h1>

	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>