<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>	
	<title>ply</title>
</head>
<body>
	<%- include('partials/modals') %>

	<div class="container__splash">
		<nav role="navigation">
			<button class="splash logo">ply</button>
			<div class="bt-menu-trigger">
			  <span></span>
			</div>
			<%- include("partials/nav_menus") %>			
		</nav>	
	
		<div class="container">
			<header role="banner" class="splash">		
				<h1 class="logo logo__big">ply</h1>
				<div class="tag__wrapper">
					<h2 class="tag">Find space. <br> Get working.</h2>			
				</div>			
			</header>

			<section class="search__wrapper">
				<form action="spaces/s" class="search__form" method="GET">
					<input type="search" name="address" class="search__bar" id="pac-input" placeholder='Try "Washington DC"'>
					<input type="hidden" name="lat" id="lat-input" value="">
					<input type="hidden" name="lng" id="lng-input" value="">
					<button type="submit" class="search__button">SEARCH</button>
				</form>		
			</section>		
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD37bTXyBCJV9iMHnfYZVKZK3-9oKq_vXM&libraries=places&callback=initAutocomplete" async defer></script>	
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>