<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>	
	<title>login | ply</title>
</head>
<body>
	<div class="topmatter">
		<nav role="navigation">
			<button class="logo" style="display: block;">ply</button>
		</nav>
	</div>
	<div class="static form__wrapper js-modal-dialog modal__login">	
		<h1>Log in to your ply account</h1>
		<div class="login__error"></div>			
		<form action="/api/login" class="login__form" method="POST">								
			<div class="input__group">	
				<input type="email" name="email" id="login-email" class="animated__label" required>
				<label for="email">Email</label>									
			</div>
			<div class="input__group">	
				<input type="password" id="login-password" name="login-password" class="animated__label" required>
				<label for="signup-password">Password</label>						
			</div>
			<button type="submit">Log In</button>
		</form>
		<div class="modal__change">
			<h4>Not a ply member? <a href="/register">Join ply</a></h4>					
		</div>
	</div>
	
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>