<!-- views/space_create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>	
	<title>ply</title>
</head>
<body>		
	<section class="topmatter">	
		<nav role="navigation">
			<button class="logo" style="display: block;">ply</button>
		</nav>	
	</section>
	<div class="js-modal-wrapper">
		<div class="confirm__dialog__overlay"></div>
		<div class="modal__wrapper">
			<div class="modal__dialog confirm__dialog js-modal-dialog modal__cancel" role="dialog" tabindex="-1">
				<h4>Discard space?</h4>
				<button class="cancel__action">Cancel</button>
				<button class="confirm__action">Discard</button>
			</div>
		<div class="modal__wrapper">
			<div class="modal__dialog confirm__dialog js-modal-dialog modal__create" role="dialog" tabindex="-1">
				<h4>Create space?</h4>
				<button class="cancel__action">Cancel</button>
				<button class="confirm__action update edit space">Create</button>
			</div>
		</div>
		</div>	
	</div>	

	<section class="static form__wrapper create space">
		<form action="/api/spaces" encType="multipart/form-data" id="space-create-form" method=POST>
			<h1>Share a new space</h1>
			<fieldset name="title">
				<legend>Give it a title</legend>
				<div class="input__group">									
					<input type="text" name="title" id="title" class="animated__label" required />
					<label for="title">Title</label>		
					<p class="hint">e.g. "Heated garage space" or "Sunlit artist studio"</p>				
				</div>
			</fieldset>
			<fieldset name="address-info" class="js-create-address">
				<legend>Where is it?</legend>
				<div class="input__group">					
					<input type="text" name="place" id="pac-input">					
					<p class="hint">Enter your address here, and we'll fill out the rest!</p>
				</div>
				<div class="input__group">
					<input type="text" name="street" id="street" class="animated__label" disabled/>
					<label for="street">Street address</label>
				</div>
				<div class="input__group">
					<input type="text" name="city" id="city" class="animated__label" required disabled/>
					<label for="city">City</label>
				</div>
				<div class="input__group mdl-selectfield">					
					<select name="state" id="state" required disabled>
						<option value="" disabled selected>State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
					<label for="state">State</label>
				</div>
				<div class="input__group">
					<input type="text" name="zip" id="zip" pattern="(\d{5}([\-]\d{4})?)" class="animated__label" required disabled/>
					<label for="zip">Zip Code</label>
				</div>
				<input type="hidden" name="lat" id="lat-input" value="">
				<input type="hidden" name="lng" id="lng-input" value="">
			</fieldset>
			<fieldset name="availability">
				<legend>When is the space available?</legend>
				<div>
					<input type="checkbox" name="hourly" id="hourlyAvail" value="hourly" checked/>
					<label for="hourlyAvail" class="checkbox__label"><i class="material-icons" aria-hidden="true">access_time</i> Hourly</label>
				</div>
				<div>
					<input type="checkbox" name="daily" id="dailyAvail" value="daily" checked/>
					<label for="hourlyAvail"  class="checkbox__label"><i class="material-icons">date_range</i> Daily</label>
				</div>
				<div>
					<input type="checkbox" name="monthly" id="monthlyAvail" value="monthly" checked/>
					<label for="monthlyAvail"  class="checkbox__label"><i class="material-icons">date_range</i> Monthly</label>
				</div>
				<div>
					<input type="checkbox" name="longTerm" id="longTerm" value="longTerm"/>
					<label for="longTerm" class="checkbox__label"><i class="material-icons" aria-hidden="true">update</i> Available for long-term storage?</label>
				</div>
			</fieldset>
			<fieldset name="amenities">
				<legend>Any amenities?</legend>
				<div>
					<input type="checkbox" name="electricity" id="electricity" value="electricity"/>
					<label for="electricity" class="checkbox__label"><i class="material-icons" aria-hidden="true">power</i> Electricity</label>
				</div>
				<div>
					<input type="checkbox" name="heat" id="heat" value="heat"/>
					<label for="heat" class="checkbox__label"><i class="material-icons" aria-hidden="true">whatshot</i> Heat</label>
				</div>
				<div>
					<input type="checkbox" name="water" id="water" value="water"/>
					<label for="water" class="checkbox__label"><i class="material-icons" aria-hidden="true">format_color_fill</i> Water</label>
				</div>
				<div>
					<input type="checkbox" name="bathroom" id="bathroom" value="bathroom"/>
					<label for="bathroom" class="checkbox__label"><i class="material-icons" aria-hidden="true">room_service</i> Bathroom</label>
				</div>
			</fieldset>
			<fieldset name="description">
					<legend>Description</legend>
					<div class="input__group mdl-selectfield">	
						<select name="spaceType" id="spaceType" required>
							<option value="" disabled selected>What type of space is it?</option>
							<option value="grg">Garage</option>							
							<option value="brn">Barn</option>
							<option value="shd">Shed</option>
							<option value="stg">Storage facility</option>
							<option value="rm">Room</option>
						</select>
					</div>
					<label class="label__regular" for="description">Let people know what makes your space unique!</label>			
					<textarea name="description" id="description" class="space__description" maxlength="275" cols="50" rows="10" placeholder="Here's where you can share information that doesn't fit into the rest of the form. (Limit 255 characters)"></textarea>	
			</fieldset>
			<fieldset name="photos">
				<legend>Got a photo?</legend>
				<div class="fileupload__wrapper">
					<div class="img__wrapper">
						<img id="img-uploaded" src="http://placehold.it/350x350" alt="your image" />	
					</div>	
					<input type="file" name="photos" id="photos" class="inputfile" />
					<label for="photos" class="filelabel"><i class="material-icons" aria-hidden="true">add_a_photo</i> Add a photo</label>	
				</div>				
			</fieldset>

			<button class="create js-create" type="submit">Add new space</button>

			<button class="cancel js-cancel">Cancel</button>
		</form>
	</section>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD37bTXyBCJV9iMHnfYZVKZK3-9oKq_vXM&libraries=places&callback=initAutocomplete" async defer></script>	
	<script type="text/javascript" src="/js/index.js"></script>	
</body>
</html>