.form__wrapper.space.create {
	width: 100%;
	max-width: 800px;
	margin-bottom: 100px;
}

.form__wrapper.space.create fieldset {
	margin-bottom: 30px;
}

.form__wrapper.space.create fieldset[name="availability"] div, .form__wrapper.space.create fieldset[name="amenities"] div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.form__wrapper.space.create input[type="checkbox"] {
	height: 30px;
	width: 30px;
	margin-left: 30px;
	margin-right: 5px;
	margin-bottom: 15px;
	display: inline-block;
}

.form__wrapper.space.create input[type="checkbox"]:focus {
	outline:none; 
    border:1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 7px  #4D90FE;
    box-shadow: 0px 0px 7px  #4D90FE;
}

.form__wrapper form label.checkbox__label {
	margin-right: 30px;
	margin-left: 10px;
}

.form__wrapper form label.checkbox__label, .form__wrapper form label.filelabel {
	position: static;
	display: inline-block;
}

.form__wrapper form label.checkbox__label i {
	display: inline-block;
}

section.space.create h1 {
	text-align: center;
	margin-bottom: 25px;
}

.inputfile + label {
	position: static;
    font-size: 1.25em;
    font-weight: 700;
    color: #333;    
    display: inline-block; 
	text-align: center;
}

.inputfile + label i {
	font-size: 40px;
	margin-bottom: 10px;
}

#img-uploaded {
	width: 125px;
	height: 125px;
}

.form__wrapper div.img__wrapper {
	width: 100%;
	margin-bottom: 20px;
	display: none;
}

form fieldset .fileupload__wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
	margin-bottom: 35px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: tomato;
    cursor: pointer;
}

.hint {
	font-size: .8em;
	color: #555;
	padding-left: 30px;
}

.label__regular {
	margin-left: 30px;
	margin-bottom: 15px;
}

.form__wrapper.space.create button.create {
	width: 300px;
}

.form__wrapper.space.create button.cancel {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 200px;
}

.form__wrapper.space.create button.cancel, .edit__buttons button.cancel {
	color: rgb(66, 134, 244);
	border: 2px solid rgba(66, 134, 244, 0.6);
	background-color: transparent;	
}

.form__wrapper.space.create button.delete {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 200px;	
	background-color: #c9302c;
}

.form__wrapper.space.create select {
	margin-left: 32px;
}

.edit__buttons {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	display: flex;
	box-shadow: 0px -2px 4px rgba(0,0,0,0.4);
	padding: 15px 10px;

}

.edit__buttons button {
	width: 200px;
	height: 44px;
	font-family: Nunito,Calibre,sans-serif;
	font-size: 16px;
	border: none;
	border-radius: 4px;
}

.edit__buttons button.delete {
	background-color: #c9302c;
	color: #fff;
	margin-right: auto;
}

.edit__buttons button.update {
	background-color: rgb(66, 134, 244);
	color: #fff;
}

.edit__buttons button.cancel, .edit__buttons button.update {
	margin-right: 15px;
	margin-left: 15px;
}