/*modals*/
.modal__overlay {
	display: none;
	width: 100%;
	height: 100%;
}

.modal__dialog {
	display: none;
	color: #333;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;	
	z-index: 2;
}

.static.modal__dialog {
	margin-top: 100px;
	display: block;
	max-width: 350px;
	height: auto;
	position: static;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	padding-top: 30px;
}

@media screen and (max-width: 300px) {
	.static.modal__dialog {
		margin-top: 60px;
		display: block;
		width: 100%;
		height: auto;
		position: absolute;
		border: none;
	}
}

.js-modal-wrapper {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__close {	
	font-size: 1.75em;	
	margin-top: 25px; 
	margin-right: 25px;	
	text-align: right;
}

.modal__close button {
	color: #999;
	background: none;
	border: none;
	font-size: 1.2em;
	font-family: Nunito,Calibre,sans-serif;
}

.modal__close button:hover {	
	color: #ccc;	
}

.modal__dialog form {
	margin-bottom: 30px;
}

.modal__dialog form * {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.modal__dialog legend {
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 40px;
}

.input__group {
	position: relative;
	margin-bottom: 45px;	
}

.modal__dialog input {
	width: 90%;
	height: 44px;
	border: none;
	border-bottom: 1px solid #ccc;		
	font-size: 1em;
	color: #333;
	font-family: Nunito,Calibre,sans-serif;		
}

.modal__dialog input:hover {
	border-bottom: 1px solid #333;
}

.modal__dialog input:focus {
	border-bottom: 2px solid rgb(66, 134, 244);
	outline: none;	
}

.animated__label + label {
	position: absolute;
	left: 32px;
	top: 12px;
	color: #aaa;
	font-size: 1em;
	pointer-events:none;
	transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
}

.animated__label:focus ~ label, .animated__label:valid ~ label {
	top: -20px;
	font-size: .8em;
	color: rgb(66, 134, 244);
}

..animated__label:invalid {
	outline: none;
}

.modal__dialog form button {
	width: 90%;
	height: 45px;
	background-color: rgb(66, 134, 244);
	border: none;
	border-radius: 4px;
	font-size: 1.5em;
	color: #fff;
	font-family: Nunito,Calibre,sans-serif;
}

.modal__change {
	text-align: center;
	border-top: 1px solid #ccc;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.modal__dialog.space.create {
	width: 100%;
	max-width: 800px;
}

.modal__dialog.space.create fieldset {
	margin-bottom: 30px;
}

.modal__dialog.space.create fieldset[name="availability"] div, .modal__dialog.space.create fieldset[name="amenities"] div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.modal__dialog.space.create input[type="checkbox"] {
	height: 30px;
	width: 30px;
	margin-left: 30px;
	margin-right: 5px;
	margin-bottom: 15px;
	display: inline-block;
}

.modal__dialog.space.create input[type="checkbox"]:focus {
	outline:none; 
    border:1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 7px  #4D90FE;
    box-shadow: 0px 0px 7px  #4D90FE;
}

.modal__dialog form label.checkbox__label {
	margin-right: 30px;
	margin-left: 10px;
}

.modal__dialog form label.checkbox__label, .modal__dialog form label.filelabel {
	position: static;
	display: inline-block;
}

.modal__dialog form label.checkbox__label i {
	display: inline-block;
}

section.space.create h1 {
	text-align: center;
	margin-bottom: 25px;
}

.inputfile + label {
	position: static;
    font-size: 1.25em;
    font-weight: 700;
    color: #333;    
    display: inline-block; 
	text-align: center;
}

.inputfile + label i {
	font-size: 40px;
	margin-bottom: 10px;
}

form fieldset .fileupload__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: tomato;
    cursor: pointer;
}

@media screen and (min-width: 744px) {
	.modal__overlay {		
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .7);
		z-index: 1;
	}

	.modal__wrapper {
		position: absolute;
		top: 0;
		left: 0;	
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;		
	}

	.modal__dialog {
		position: relative;
		padding: 25px;
		width:500px;
	}

	.modal__join {
		height: 580px;	
		padding-bottom: 30px;
	}

	.modal__login {
		height: 400px;
		padding-bottom: 30px;
	}

	.modal__dialog .modal__close button {
		position: absolute;
		top: -50px;
		right: -25px;
		color: #fff;	
	}

	.modal__dialog form label {	
		left: 25px;
	}

	.modal__close {	
		font-size: 1.75em;
		position: fixed;
		top: 75px; 
		right: 75px;		
	}
}