/*splash*/
.container__splash {	
	background-image: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../img/drill_press_splash.jpg");				
	position: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px 15px;
}

header.splash {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 50px;
	margin-top: 10%;
}

@media screen and (max-width: 649px) {
	header.splash {
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 650px) {
	header.splash {
		justify-content: center;
		flex-wrap: nowrap;
	}

	.tag__wrapper {
		border-left: 2px solid #ccbaab;
		padding-left: 30px;		
	}
}

.logo {
	font-family: 'Permanent Marker', cursive;	
}

.logo__big {	
	font-size: 120px;
	line-height: 120px;
	margin-right: 40px;
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;	
}

@media screen and (max-width: 649px) {
	.logo__big {
		width: 100%;
		text-align: left;
		padding-left: 40px;
	}

	.splash .tag {
		padding-left: 40px;
	}
}

.tag {
	font-weight: normal;
	font-size: 35px;		
	line-height: 1.4em;
	text-align: left;
}

.tag__wrapper {
	height: 90px;
	display: flex;
	align-items: center;	
}

/*address search*/
.search__bar {
	width: 85%;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.05);
	font-size: .8em;
	padding-left: 25px;
	font-family: Nunito,Calibre,sans-serif;
}

@media screen and (min-width: 375px) {
	.search__bar {
		font-size: 1em;
	}
}

.search__form {
	position: relative;
	padding: 0 15px;
}

.search__button {
	font-family: Nunito,Calibre,sans-serif;
	height: 40px;
	border: none;
	border-radius: 2px;
	background-color: tomato;	
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	margin-top: 20px;
	padding: 5px 16px;
}

@media screen and (min-width: 768px) {
	.search__bar {
		height: 60px;
	}

	.search__button {
		position: absolute;
		right: 100px;
		top: 10px;
		margin-top: 0;
	}
}

/*hide 'x' for clearing input in chrome and ie*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
