/*details*/
.details__wrapper {	
	color: #333;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	padding-top: 400px;
	padding-bottom: 100px;
}

.details {
	padding: 0 15px;
}

.cover-image {
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: 400px;
	background-size: cover;
}

.details__title {
	line-height: 1.3em;
	margin-top: 0;
}

.details__topmatter {
	margin-top: 10px;	
}

.details__type {
	font-size: .8em;
  list-style: none;
	padding-left: 0;
	width: 100%;
	color: #666;
	margin-top: 0;
}

.details__type li {
	display: inline;
}

.details__owner a {
	color: #333;	
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.details__owner a:hover {
	color: tomato;
	text-decoration: none;
}

.details__owner i {
	font-size: 35px;	
}

.details section {  
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

section.rent {
	background-color: #fff;
	border: 1px solid #ccc;	
}

.rates {
	list-style: none;
	padding-left: 15px;
	font-size: .8em;
}

.rates li {
	display: inline-block;
	margin-right: 15px;
}

button.rent {
	height: 44px;	
	font-family: Nunito,Calibre,sans-serif;
	font-size: 1.2em;
	border: none;
	border-radius: 2px;
	background-color: tomato;
	color: white;		
}

.edit__button {	
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 15%;
	width: 44px;
	height: 44px;
	position: fixed;
	right: 35px;
	top: 100px;
	font-size: 44px;
	line-height: 35px;
	text-align: center;
}

.edit__button:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.edit__button a {
	color: tomato;
}

@media screen and (max-width: 415px) {
	.rates li {
		display: block;
	}
}

@media screen and (max-width: 999px) {
	button.rent {
		position: absolute;
		right: 15px;
		bottom: 5px;
		width: 140px;		
	}
	
	section.rent {
		position: fixed;
   		bottom: 0;
		box-shadow: 0 -2px 4px rgba(0,0,0,0.4);
		width: 100%;
	}
}

@media screen and (min-width: 1000px) {
	.details__wrapper {
		display: flex;
		justify-content: center;
	}
	
	.rates {
		width: 175px;		
	}

	.rates li {
		display: block;
	}
	
	section.rent {		
		width: 300px;										
		background-color:#f4f4f4;
		padding: 24px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
	}
	
	button.rent {		
		width: 175px;		
	}
	
	.details {
		width: 550px;				
	}
}