/*modals*/
.modal__overlay {
	display: none;
	width: 100%;
	height: 100%;
}

.modal__dialog {	
	display: none;
	color: #333;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 100%;
	padding: 0 10px;	
	z-index: 2;
}

.static.form__wrapper {
	color: #333;
	background-color: #fff;
	margin-top: 100px;
	display: block;
	max-width: 350px;	
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	padding: 30px 15px;
}

.static.form__wrapper h1 {
	margin-bottom: 35px;
	margin-left: 20px;
}

@media screen and (max-width: 300px) {
	.static.form__wrapper {
		margin-top: 60px;
		display: block;
		width: 100%;
		height: auto;
		position: absolute;
		border: none;
	}
}

.js-modal-wrapper {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__close {	
	font-size: 1.75em;	
	margin-top: 25px; 
	margin-right: 25px;	
	text-align: right;
}

.modal__close button {
	color: #999;
	background: none;
	border: none;
	font-size: 1.2em;
	font-family: Nunito,Calibre,sans-serif;
}

.modal__close button:hover {	
	color: #ccc;	
}

.modal__dialog form {
	margin-bottom: 30px;
}

.modal__dialog form *, .form__wrapper form * {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.modal__dialog legend {
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 40px;
}

.input__group {
	position: relative;
	margin-bottom: 45px;	
}

.modal__dialog input, .form__wrapper input {
	width: 90%;
	height: 44px;
	border: none;
	border-bottom: 1px solid #ccc;		
	font-size: 1em;
	color: #333;
	font-family: Nunito,Calibre,sans-serif;		
}

.modal__dialog input:disabled, .form__wrapper input:disabled {
	border-bottom: 2px dotted #ccc;
}

.modal__dialog input:hover, .form__wrapper input:hover {
	border-bottom: 1px solid #333;
}

.modal__dialog input:focus, .form__wrapper input:focus {
	border-bottom: 2px solid rgb(66, 134, 244);
	outline: none;	
}

.animated__label + label {
	position: absolute;
	left: 34px;
	top: 12px;
	color: #aaa;
	font-size: 1em;
	pointer-events:none;
	transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
}

.static.form__wrapper .animated__label + label {
	left: 20px;
}

#space-create-form .animated__label + label {
    left: 40px;
}

.animated__label:focus ~ label, .animated__label:valid ~ label {
	top: -20px;
	font-size: .8em;
	color: rgb(66, 134, 244);
}

.animated__label:invalid {
	outline: none;
}

.modal__dialog form button, .form__wrapper form button {
	width: 90%;
	height: 45px;
	background-color: rgb(66, 134, 244);
	border: none;
	border-radius: 4px;
	font-size: 1.5em;
	color: #fff;
	font-family: Nunito,Calibre,sans-serif;
}

.modal__change {
	text-align: center;
	border-top: 1px solid #ccc;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.login__error, .registration__error {
	display: none;
	text-align: center;
	color: red;
	margin-bottom: 20px;
}

#account__buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.modal__account button.account_delete, .modal__account button.account_update {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 200px;
	display: inline-block;
}

.modal__account button.account_delete {
	background-color: #c9302c;	
}

/*confirm dialogs*/
.confirm__dialog__overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
	z-index: 1;
}

.modal__dialog.confirm__dialog {
	position: fixed;
	height: 80px;
	width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	text-align: right;
}

.modal__dialog.confirm__dialog h4 {
	font-weight: normal;
	font-size: 1.2em;
	margin-top: 0;
	text-align: left;
}

.super__modal__wrapper .modal__dialog.confirm__dialog.modal__delete, .super__modal__wrapper .modal__dialog.confirm__dialog.modal__update {
	z-index: 4;
	display: block;
}

.super__modal__wrapper {
	display: none;
	z-index: 3;
}

button.cancel__action, button.confirm__action {
	border: none;
	background: none;
	font-size: 1em;
	color: #03A9F4;	
}

button.cancel__action {
	margin-right: 20px;		
}

button.cancel__action:hover, button.confirm__action:hover, button.cancel__action:focus, button.confirm__action:focus {
	color: #0288D1;
}

/*select fields*/
/* ==========  Select Field ========== */

/* Style Select Field */
select {	
  font-family: inherit;
  background-color: transparent;  
  padding: 0;
  font-size: 1em;
  color: #333;
  border: none;
  border-bottom: 1px solid #ccc;
}

/* Remove focus */
select:focus {
  outline: none}

select:disabled {
	background: rgb(235, 235, 228);
	border-bottom: 2px dotted #ccc;
}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield {  
  position: relative;
}

@media screen and (min-width: 744px) {
	.modal__overlay {		
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .7);
		z-index: 1;
	}

	.modal__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}



	.modal__dialog {
		position: relative;
		padding: 25px;
		width:500px;
	}

	.modal__join {
		height: 650px;	
		padding-bottom: 30px;
	}

	.modal__login {
		height: 400px;
		padding-bottom: 30px;
	}

	.modal__account {
		height: 420px;
		padding-bottom: 30px;
	}

	.modal__dialog .modal__close button {
		position: absolute;
		top: -50px;
		right: -25px;
		color: #fff;	
	}

	.modal__dialog form label {	
		left: 25px;
	}

	.modal__close {	
		font-size: 1.75em;
		position: fixed;
		top: 75px; 
		right: 75px;		
	}
}